<html>
	<head>
		<meta charset="utf-8" />
		<title>@TITLE@ | @SITE_NAME@</title>
		<meta property="og:site_name" content="@SITE_NAME@"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="@TITLE@ | @SITE_NAME@"/>
		<meta name="description" content="@DESCRIPTION@">
    <meta property="og:description" content="@DESCRIPTION@"/>

    <meta property="og:image" content="@PREVIEW_IMAGE@"/>
    <meta property="twitter:image" content="@PREVIEW_IMAGE@"/>
    <meta name="twitter:card" content="summary_large_image">

		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<main>
			<h1><a href="/">@SITE_NAME@</a></h1>
			<nav>
				<ul>
					<li><a href="https://github.com/selfawaresoup/sitebash">Github</a></li>
					<li><a href="/docs">Documentation</a></li>
				</ul>
			</nav>
			@MAIN@
		</main>
	</body>
</html>
